.container {
  padding: 1rem;
  mat-form-field {
    display: block;
  }

  .favicon {
    height: 24px;
  }
}

mat-list-option {
  padding: 1.5rem 0;
}

.align-center {
  display: flex;
  align-items: center;
}

.history-text {
  margin-left: 8px;
}
