<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Search history or tab</mat-label>
    <input
      matInput
      type="text"
      [formControl]="searchInput"
      autofocus
      #searchInputRef
    />
  </mat-form-field>

  <mat-selection-list
    #selectionListRef
    [multiple]="false"
    *ngIf="searchInput.value?.length > 0"
    (selectionChange)="onSelectionChange($event)"
    (keydown)="onListKeyDown($event)"
  >
    <mat-list-option
      *ngFor="let browserAction of browserActions$ | async"
      [value]="browserAction"
    >
      <span matLine class="headline">{{ browserAction.name }}</span>
    </mat-list-option>

    <mat-list-option
      *ngFor="let searchResult of tabResults$ | async"
      [value]="searchResult"
    >
      <span matLine class="mat-title">
        <mat-icon>tab</mat-icon>
        {{ searchResult.name }}
        <ng-container *ngIf="searchResult.faviconUrl"
          >(<img
            class="favicon"
            [src]="searchResult.faviconUrl"
            alt="favicon url"
          />)
        </ng-container>
      </span>
      <span matLine class="mat-caption">{{ searchResult.url }}</span>
    </mat-list-option>
    <mat-list-option
      *ngFor="let searchResult of historyResults$ | async"
      [value]="searchResult"
    >
      <span matLine class="mat-title align-center">
        <mat-icon>history</mat-icon>
        <span class="history-text">{{ searchResult.name }}</span>
      </span>
      <span matLine class="mat-caption">{{ searchResult.url }}</span>
    </mat-list-option>
    <mat-list-option *ngIf="isSearchingHistory" color="primary"
      >Loading history (it takes some time)...
    </mat-list-option>
  </mat-selection-list>

  <h6 class="mat-subheading-1">
    Icons made by
    <a
      href="https://www.flaticon.com/authors/freepik"
      title="Freepik"
      [tabIndex]="-1"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/" title="Flaticon" [tabIndex]="-1"
      >www.flaticon.com</a
    >
  </h6>
</div>
