<div class="container">
  <h1>Options</h1>
  <div>
    <mat-slide-toggle
      [checked]="includesBookmarks"
      (change)="toggleBookmarks($event)"
      >Includes Bookmarks
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle [checked]="includesTabs" (change)="toggleTabs($event)"
      >Includes Tabs</mat-slide-toggle
    >
  </div>
  <div>
    <mat-slide-toggle
      [checked]="includesHistory"
      (change)="toggleHistory($event)"
      >Includes History</mat-slide-toggle
    >
  </div>

  <section>
    <mat-form-field appearance="fill">
      <mat-label
        >Start date for searching history (default is set to 0 which means all
        history)</mat-label
      >
      <input
        matInput
        type="date"
        [value]="startDate"
        (change)="updateStartDate($event)"
      />
    </mat-form-field>
  </section>
</div>
